@CHARSET "UTF-8";

div, 
header, 
main, 
nav, 
section, 
aside, 
footer {
	margin: 0;
	padding: 0;
}

#container {
	width: 1170px;
	margin: auto;
}

header {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 40px;
	background-color: #000000;
}

main {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 250px;
}

main nav {
	width: 28%;
	min-height: 250px;
	float: left;
	background-color: #800080;
}

main section {
	width: 40%;
	margin-left: 2%;
	margin-right: 2%;
	min-height: 250px;
	float: left;
	background-color: #008000;
}

main aside {
	width: 28%;
	min-height: 250px;
	float: right;
	background-color: #FF0000;
}

footer {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 40px;
	background-color: #0000FF;
}